 <!-- ======= Header ======= -->
 <header id="header" class="header-transparent">
    <div class="container">

      <div id="logo" class="pull-left">
        <h1><a href="#" class="scrollto">HerStory</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt=""></a> -->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="#">Home</a></li>
          <li><a href="#about">About Us</a></li>
          <li><a href="#features">Features</a></li>
          <li><a href="#advanced-features">How to use</a></li>
          <li class="menu-has-children"><a href="">What we provide</a>
            <ul>
              <li><a href="#">Scholarships</a></li>
              <li class="menu-has-children"><a href="#">Conferences/Workshops</a>
                
              </li>
              <li><a href="#">After class 12</a></li>
              <li><a href="#">Internships and jobs</a></li>
              <li><a href="#">Restart your career</a></li>
            </ul>
          </li>
          <li><a href="#contact">Contact Us</a></li>
          <li><a href="#team">Login</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- End Header -->