 <!-- ======= Header ======= -->
 <header id="header" >
    <div class="container">

      <div id="logo" class="pull-left">
        <h1><a href="index.html" class="scrollto">Avilon</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt=""></a> -->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="index.html">Home</a></li>
          <li><a href="">About Us</a></li>
          <li><a href="">Chat </a></li>
          <li><a href="">Profile</a></li>
          <li><a href="">Networking</a></li>
          <li><a href="">Contact Us</a></li>
          <li><a href="">Log out </a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- End Header -->