   <!-- ======= Header ======= -->
 <header id="header" style="background:linear-gradient(45deg,rgb(122,32,72), rgb(30,39,97))">
  <div class="container">

    <div id="logo" class="pull-left">
      <h1><a href="/" class="scrollto">HerStory</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html"><img src="assets/img/logo.png" alt=""></a> -->
    </div>

    <nav id="nav-menu-container">
      <ul class="nav-menu">
        <li class="menu-active"><a href="/">Home</a></li>
        <li><a href="/after">About Us</a></li>
        <li><a href="">Chat </a></li>
        <li><a href="">Profile</a></li>
        <li><a href="">Networking</a></li>
        <li><a href="">Contact Us</a></li>
        <li><a href="">Log out </a></li>
       
      </ul>
    </nav><!-- #nav-menu-container -->
  </div>
</header><!-- End Header -->