<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    
    <title>HerStory</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    
    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">
    
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700|Open+Sans:300,300i,400,400i,700,700i" rel="stylesheet">
    
    <!-- Vendor CSS Files -->
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="assets/vendor/venobox/venobox.css" rel="stylesheet">
    
    <!-- Template Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet">
    <style>
      body{
        padding-top: 160px;
      }
      .form-control{
        width:50%;
      }
      
    </style>
</head>
<body>
  <main id="main">
    <header id="header" style="background:linear-gradient(45deg,rgb(122,32,72), rgb(30,39,97))">
            <div class="container">
          
              <div id="logo" class="pull-left">
                <h1><a href="/" class="scrollto">HerStory</a></h1>
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <a href="index.html"><img src="assets/img/logo.png" alt=""></a> -->
              </div>
          
              <nav id="nav-menu-container">
                <ul class="nav-menu">
                  <li class="menu-active"><a href="/">Home</a></li>
                  <li><a href="">Log out </a></li>
                 
                </ul>
              </nav><!-- #nav-menu-container -->
            </div>
          </header><!-- End Header -->
              
  <div class="container-fluid" align="center">

      <h1 class="mb-4">New scholarship?</h1>
      <form action="new" method="POST"> 
      <div class="form-group">
            <label for="title">Title</label>
            <input required type="text" name="title" id="title" class="form-control">   
        </div>
        <div class="form-group"> 
            <label for="description">Description</label>
            <input required type="text" name="description" id="description" class="form-control">   
        </div>
        <div class="form-group">
            <label for="link">Link</label>
            <input required type="text" name="link" id="link" class="form-control">   
        </div>
          <a href="/articles" class="btn btn-secondary">Cancel</a>
          <button type="submit" class="btn btn-primary" style="background-color: rgb(122,32,72);">Save</button>
    </div>
</form>

</div>
  <br>
</main>
<footer id="footer" style = "  position: fixed !important;
left: 0 !important;
bottom: 0 !important;
width: 100% !important;">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 text-lg-left text-center">
          <div class="copyright">
            &copy; Copyright <strong>HerStory</strong>. All Rights Reserved
          </div>
          <div class="credits">
          </div>
        </div>
        <div class="col-lg-6">
          <nav class="footer-links text-lg-right text-center pt-2 pt-lg-0">
            <a href="#intro" class="scrollto">Home</a>
            <a href="#about" class="scrollto">About</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Terms of Use</a>
          </nav>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>