<!DOCTYPE html>
<head>

</head>
<body>
    <h1 align="center">Are you a woman restarting your career?</h1>
    <h3 align="center">Look no further!</h3>
 
    <main id="main">

        <!-- ======= About Section ======= -->
        <section id="about" class="section-bg">
          <div class="container-fluid">
            <div class="section-header">
              <h3 class="section-title">Career restart programmes</h3>
              <span class="section-divider"></span>
              <li>Accenture-Career reboot for women
              <p class="section-description">
                With an aim to help women strike the perfect work-life balance, Accenture offers a helping hand to returning women employees to find ideal re-entry roles and ensures their smooth transition back into the workforce. Besides, it is a great opportunity to interact with the industry expert and its leadership team.
              </p>
              <p><a href="https://www.accenture.com/in-en/careers/local/career-reboot"></a></p>
            </li>
              <li>Google – gCareer</li>
              <p class="section-description">
                Google launched its gCareer programme for qualified women professionals who aspire to join back work after a break of one or more years. gCareer India is designed for women from diverse backgrounds and experiences who are interested in the digital advertising space and willing to step into the dynamic environment of Google’s advertising teams.
              </p>
              <a href="https://www.irelaunch.com/node/1619"></a>
              <li>Capgemini  – Career Comeback
               <p class="section-description">
                Capgemini India actively supports skilled female professionals who want to make a transition back into the workforce. As part of their exclusive, women-only campaign, Career Comeback, they invite women who are currently on a career break and are aspiring to join back work. To be eligible, you need to have a minimum experience of 3 years prior to your career break.
               </p>
            </li>
            <li>Hindustan Unilever – Career By Choice 
           <p class="section-description">
                The consumer goods giant runs a programme called Career By Choice, which offers an opportunity to balance home and office. Through a well defined structure and support, the programme provides a smooth transition to the workspace.
            </p>
             </li>
            </div>
            </div>
    
          </div>
        </section>
</body>