<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    
    <title>HerStory</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    
    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">
    
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700|Open+Sans:300,300i,400,400i,700,700i" rel="stylesheet">
    
    <!-- Vendor CSS Files -->
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="assets/vendor/venobox/venobox.css" rel="stylesheet">
    
    <!-- Template Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet">
    
</head>
<body>

    <h1 align="center">Are you a woman restarting your career?</h1>
    <h3 align="center">Look no further!</h3>
 
    <main id="main">
<header id="header" style="background:linear-gradient(45deg,rgb(122,32,72), rgb(30,39,97))">
        <div class="container">
      
          <div id="logo" class="pull-left">
            <h1><a href="index.html" class="scrollto">HerStory</a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html"><img src="assets/img/logo.png" alt=""></a> -->
          </div>
      
          <nav id="nav-menu-container">
            <ul class="nav-menu">
              <li class="menu-active"><a href="index.html">Home</a></li>
              <li><a href="/after">About Us</a></li>
              <li><a href="">Chat </a></li>
              <li><a href="">Profile</a></li>
              <li><a href="">Networking</a></li>
              <li><a href="">Contact Us</a></li>
              <li><a href="">Log out </a></li>
             
            </ul>
          </nav><!-- #nav-menu-container -->
        </div>
      </header><!-- End Header -->
        <section id="about" class="section-bg">
          <div class="container-fluid">
            <div class="section-header">
              <h3 class="section-title">Career restart programmes</h3>
              <span class="section-divider"></span>
              <li>Accenture-Career reboot for women
              <p class="section-description">
                With an aim to help women strike the perfect work-life balance, Accenture offers a helping hand to returning women employees to find ideal re-entry roles and ensures their smooth transition back into the workforce. Besides, it is a great opportunity to interact with the industry expert and its leadership team.
                <br><a href="https://www.accenture.com/in-en/careers/local/career-reboot">More Details</a>
              </p>
             
            </li>
              <li>Google – gCareer</li>
              <p class="section-description">
                Google launched its gCareer programme for qualified women professionals who aspire to join back work after a break of one or more years. gCareer India is designed for women from diverse backgrounds and experiences who are interested in the digital advertising space and willing to step into the dynamic environment of Google’s advertising teams.
                <br> <a href="https://www.irelaunch.com/node/1619">More Details </a>
              </p>
             
              <li>Capgemini  – Career Comeback
               <p class="section-description">
                Capgemini India actively supports skilled female professionals who want to make a transition back into the workforce. As part of their exclusive, women-only campaign, Career Comeback, they invite women who are currently on a career break and are aspiring to join back work. To be eligible, you need to have a minimum experience of 3 years prior to your career break.
               </p>
            </li>
            <li>Hindustan Unilever – Career By Choice 
           <p class="section-description">
                The consumer goods giant runs a programme called Career By Choice, which offers an opportunity to balance home and office. Through a well defined structure and support, the programme provides a smooth transition to the workspace.
            </p>
             </li>
            </div>
            </div>
    
          </div>
        </section>
</body>