<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    
    <title>HerStory</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    
    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">
    
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700|Open+Sans:300,300i,400,400i,700,700i" rel="stylesheet">
    
    <!-- Vendor CSS Files -->
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="assets/vendor/venobox/venobox.css" rel="stylesheet">
    
    <!-- Template Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet">
    
    <!-- =======================================================
    * Template Name: Avilon - v2.2.1
    * Template URL: https://bootstrapmade.com/avilon-bootstrap-landing-page-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
<style>

        .jumbotron{
          background-color: white;
          text-align: center;
        }
        .card{
            border-color: white;
        }
        .column {
          flex: 50%;
        }
        a:hover {
          color: rgb(212, 120, 182);
        }
        .add{
          background: rgb(122,32,72);
          display: inline-block;
          padding: 6px 30px;
          border-radius: 20px;
          color: #fff;
          transition: none;
          font-size: 14px;
          font-weight: 400;
          font-family: "Montserrat", sans-serif;
        }
        .now{
          margin-left: 10px;
          background: rgb(122,32,72);
          display: inline-block;
          padding: 6px 10px;
          border-radius: 20px;
          color: #fff;
          transition: none;
          font-size: 14px;
          font-weight: 400;
          font-family: "Montserrat", sans-serif;
        }
    </style>
</head>

<body>
 <!-- ======= Header ======= -->
 <main id="main">
  <header id="header" style="background:linear-gradient(45deg,rgb(122,32,72), rgb(30,39,97))">
    <div class="container">
      
          <div id="logo" class="pull-left">
            <h1><a href="/" class="scrollto">HerStory</a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html"><img src="assets/img/logo.png" alt=""></a> -->
          </div>
      
          <nav id="nav-menu-container">
            <ul class="nav-menu">
              <li class="menu-active"><a href="/">Home</a></li>
              <li><a href="/after">About Us</a></li>
              <li><a href="">Chat </a></li>
              <li><a href="">Profile</a></li>
              <li><a href="">Networking</a></li>
              <li><a href="">Contact Us</a></li>
              <li><a href="">Log out </a></li>
             
            </ul>
          </nav><!-- #nav-menu-container -->
        </div>
      </header><!-- End Header -->
      <br><br><br>
      <section id="about" >
        <div class="container-fluid">
          <div class="section-header">
            <h3 class="section-title">Scholarships for Women</h3>
            <span class="section-divider"></span>
            <p class="section-description">
              Choose from the variety of scholarships you can apply to!
            </p>
          </div>
  
          <div class="row">
            <div class="col-lg-6 about-img wow fadeInLeft">
              <img src="assets/img/graduation.jpg" alt="">
            </div>
  
            <div class="col-lg-6 content wow fadeInRight">
              
              <h3><b>STEM</b></h3>
              <p>Women tend to be largely under represented in STEM (science, technology, engineering, and math) fields.Because of the gender gap in STEM fields, there’s an effort to attract more women to STEM. Part of that effort is through college scholarships. If you’re planning to study STEM in college, check out the following links to learn about some of the best scholarships for women in STEM.</p>
              
              <ul >
                <li><a href="https://www.britishcouncil.org/study-work-abroad/in-uk/scholarship-women-stem">British Council scholarships</a></li>
                <li><a href="https://www.iie.org/Programs/WeTech/STEM-Scholarships-for-Women/Qualcomm-Global-Scholars-Program/India">Qualcomm Global Scholars Program</a></li> 
                <li><a href="https://www.iie.org/en/Programs/WeTech/STEM-Scholarships-for-Women/Juniper-Networks-Scholarship-and-Internship">Juniper Networks Scholarship</a></li>
                <li><a href="https://www.womentechmakers.com/">Women Techmakers Scholarship</a></li>
                <li><a href="https://www.gwis.org/page/fellowship_program">The Graduate Women In Science (GWIS) National Fellowships Program</a></li>
              </ul>
            </div>
    

    
    </div>

    </div>
       
    <!-- heehaaw -->
    <section id="more-features" class="section-bg">
      <div class="container">

        <div class="section-header">
          <h3 class="section-title">Other scholarships</h3>
          <span class="section-divider"></span>
          <!-- <p class="section-description">We invite you to add scholarships that you know of to help others!</p> -->
          <p class="section-description">Want to add a new scholarship you know about?<a href="newscholarship" class="now"> Add Now</a></p>
        </div>

        <div class="row">
          
          <% articledata.forEach(articledata=>{ %>
          <div class="col-lg-6">
            <div class="box wow fadeInLeft">
              
              <h4 class="title"><%=articledata.title %></h4>
              <span style="display:inline-block;"class="description"><%=articledata.description %></span>
              <p style="padding-top: 10px;"><form action="<%=articledata.link %>">
                <input class="add" type="submit" value="More Info"/>
            </form></p>
            </div>
          </div>
          <% }) %>

          <!-- <div class="col-lg-6">
            <div class="box wow fadeInRight">
              <div class="icon"><i class="ion-ios-bookmarks-outline"></i></div>
              <h4 class="title"><a href="">Dolor Sitema</a></h4>
              <p class="description">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat tarad limino ata nodera clas.</p>
            </div>
          </div> -->
        </div>
      </div>
    </section>
    <!-- heehaw -->

  </section>
  

  </main>
  <footer id="footer" style = "  
  left: 0 !important;
  bottom: 0 !important;
  width: 100% !important;">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 text-lg-left text-center">
            <div class="copyright">
              &copy; Copyright <strong>HerStory</strong>. All Rights Reserved
            </div>
            <div class="credits">
            </div>
          </div>
          <div class="col-lg-6">
            <nav class="footer-links text-lg-right text-center pt-2 pt-lg-0">
              <a href="#intro" class="scrollto">Home</a>
              <a href="#about" class="scrollto">About</a>
              <a href="#">Privacy Policy</a>
              <a href="#">Terms of Use</a>
            </nav>
          </div>
        </div>
      </div>
    </footer>
  
</body>
</html>